table {
	border-spacing: 0;
	empty-cells: hide;
}
td {
	padding: 10px 20px;
	text-align: center;
	border-bottom: 1px solid #F4EEE8;
	background-color: #353;
	color: #333;
}
 
.td2:active, 
.td3:active, 
.td4:active{
	background-color: #f3bd48;
    color: #fff; 
}

.td2:hover, 
.td3:hover, 
.td4:hover, 
.td5:hover, 
.td6:hover{
    color: #fff; 
}

.td5:active,
.td6:active{
	transition: background-color 5s cubic-bezier(0.1, 0.8, 0.5, 2), color 5s 1s linear;
	background: #111111;
}